*.iml
/junkFiles
stemcells/
manifests/bosh-warden*
*.pivotal
*.md5
*.tgz
*.deb
*.tar.gz
config/dev.yml
config/private.yml
dev_releases
blobs
.blobs
.dev_builds
.idea
.DS_Store
*.swp
*~
*#
#*
ci/secret.yml
ci/creds*.yml
src/smoke-tests/integration_config.json
src/mongodb
src/smoke-tests/metadata
src/smoke-tests/config.json
src/smoke-tests/q/

/bin
/pkg

!src/libsnmp/*.deb
!src/common/*.deb
pcf_info.json
